// Reboot
// --------------------------------------------------

html {
  box-sizing: border-box;
  font-size: 12;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
  margin: 0px
  padding: 0px
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

hr {
  border: 0;
  border-top: $border;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
}

img { content: normal !important;}
body {
  margin: 0px;
  padding: 0px;
}